{% extends 'base.html' %}
{% block main %}
<script type="text/javascript" src="{{url_for('static', filename='myscript.js')}}"></script>
  

    <div class="container">
        <div class=" text-center mt-5 ">
            <h2>Provisionering av Cisco 9120ax/9105ax Accesspunkter</h2>
            <p>"Async mode" är: <b>{{ async_mode }}</b><br></p>   
        </div>

        <div class="container">
                        <div class ="row h-100 justify-content-center align-items-center">
                            <div class="col-10 col-md-8 col-lg-6">
                            <form class="form-horizontal" id="test" method="POST" action="#">
                                <div class="form-group">
                                    <label for="appre">AP Prefix (ex. SA-):</label>
                                    <div class="col-sm-10">
                                            <input type="text" id="appre" name="appre">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="antap">Antal AP (ex. 20):</label>
                                    <div class="col-sm-10">
                                        <input type="number" id="antap" name="antap">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="apstart">AP Startnummer (ex. 1):</label>
                                    <div class="col-sm-10">
                                        <input type="number" id="apstart" name="apstart">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="aploc">AP Placering (ex. Sandagymnasiet (Inga mellanslag)):</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="aploc" name="aploc">
                                    </div>
                                </div>
                                <div class="form-group">
                                <label for="accept">Vill du ha etiketter (.csv -fil)?</label>
                                    <div class="col-sm-10">
                                    <input type="checkbox" id="accept" name="accept" value="yes">
                                    </div> 
                                 
                                </div>
                            </form>
                            <br>
                            <button id='btn' class="btn btn-primary btn-customized" type="submit" form="test" value="Submit">Submit</button>
                            </div>
                        </div>
              
        </div>
    </div>

   

    <div class="container">
        <div class=" text-center mt-5 ">    
            <h3>Log:</h3>
            <div id="log"></div>
        </div>
    </div>
{% endblock %}